$main-bg: #fff;
$main-color: #4244b2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "red": #ff0000,
    "yellow": #FFFF00,
    "brown": #A52A2A,
    "gray": #808080,
    "silver": #C0C0C0
);

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

.Detail {
    display: flex;
}

.left_items{
    margin: 15px;
    width: 50%;
    &_img_main {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
}

.product_info {
    margin-top: 2rem;
    flex-grow: 1;
    &_item {
        margin-top: 15px;
        &__type {

        }
        &_list {
            width: 120px;
            display: flex;
            margin-left: 0;
            justify-content: flex-start;
            &_item {
                margin: 0;
                .circle {   
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 2px solid $txt-second-color;
                    text-align: center;
                    
                    cursor: pointer;
                    margin-left: 0.5rem;
                    &:hover {
                        border: 3px solid $main-color;
                    }  
                    
                    &_size {
                        margin-top: 5px;
                    }
                }
                
            }
            &.active {
                        // border-color: $main-color;
                    }
        }

    }
    &_review {
        margin-top: 15px;
        &_number {
            margin-top: 0;
            display: inline;
        }
        &_star {
            margin: auto 5px;
            color: red;
            vertical-align: text-bottom;
            
        }
    }

    &_price {
        margin-top: 15px;
    }
}





// .product_info_item {
//     width: 50px;
// }

// // .product_info_item {
// //      width: 50px;
// //                     height: 50px;
// //                     border-radius: 50%;
// //                     border: 2px solid ;
// //                     cursor: pointer;
// //                     margin-right: 1rem;

// //     &.active {
// //                         border-color: $main-color;
// //                     }

// //                     &:hover {
// //                         border-color: $main-color;
// //                     }
// // }