body {
    background-color: #e8e8e8;
}
.DetailProduct {
    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_top {
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        &__images {
            display: flex;
            width: 50%;
            flex-direction: column;
            margin: 0;
            margin-top: 30px;
        
            &__list {
                width: 400px;
                margin-top: 10px;
                margin-left: 30px;
                
                &__item {
                    display: inline;
                    margin-right: 20px;
                    width: 25%;
                    height: 60%;
                    
                    img {
                        width: 25%;
                        height: 60%;
                        object-fit: cover;
                        &:hover {
                            border: solid 2px #ee4d2d;
                        }
                    }
                    cursor: pointer;
                    
                    
                }

                
            }

            &__main {
                margin-left: 30px;

                img {
                    
                    width: 400px;
                    height: 400px;
                    max-width: 600px;
                    object-fit: cover;
                    
                }
            }
        }

        &_info {
            margin: 30px;
            flex-grow: 1;
            &_item {
                margin-top: 15px;
            }

            &_review {
                margin-top: 15px;
                &_number {
                    margin-top: 0;
                    display: inline;
                }
                &_star {
                    margin: auto 5px;
                    color: red;
                    vertical-align: text-bottom;
                    
                }
            }

            &_price {
                font-size: 2.5rem;
                margin-top: 15px;
                color: #ee4d2d;
                span {
                    font-size: 1.5rem;
                    vertical-align: text-top;
                    text-decoration: underline;
                }
            }

            &_quantity {
                &_btn {
                    margin-left: 0;
                    margin-top: 20px;
                    width: 200px;
                    height: 30px;
                    border: 2px solid #ee4d2d;
                    font-size: 1.5rem;
                    cursor: pointer;
                    background-color: rgba(255,87,34,0.1);

                    .add_icon {
                        margin-right: 20px;
                        vertical-align: baseline;
                    }
                    
                }

                &_input {
                    margin-top: 20px;
                    font-size: 1.2rem;
                    color: gray;
                    input {
                        margin-left: 40px;
                        width: 80px;
                        height: 30px;
                        font-size: 1.2rem;
                    }
                    .available {
                        margin-left: 40px;
                        
                    }
                }
            }
        }
    }
}

.DetailProduct_bottom {
    background-color: #FFFFFF;
    margin-top: 30px;
}

.product-description {
    width: 90%;
    padding: 2rem 2rem 3rem;
    height: 120px;
    overflow: hidden;
    position: relative;


    &.expand {
        height: max-content;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0;
    }

    &__content {
        font-size: 1.1rem;
        line-height: 1.8rem;
        text-align: justify;
    }

    &__toggle {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &_button {
            font-size: 1.5rem;
            color: #FFFFFF;
            width: 100%;
            height: 30px;
            border: 2px solid #ee4d2d;
            background-color: rgb(255,87,34, 0.9);
        }
    }
}
